{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>your mom</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/index.css">
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    </head>
    <body>
        {{ template "form" .Form }}
        <hr />
        {{ template "display" .Data }}
        <script>
            document.addEventListener("DOMContentLoaded", e => {
                document.body.addEventListener('htmx:beforeSwap', function(evt) {
                    if (evt.detail.xhr.status === 422) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                });
            });
        </script>
    </body>
</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
    name: <input 
        {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
        type="text" name="name" />
    email: <input
        {{ if .Values.email }} value="{{ .Values.email }}" {{ end }}
        type="text" name="email" />

    {{ if .Errors.email }}
        <div style="color: red;">{{ .Errors.email }}</div>
    {{ end }}
    <button type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "display" . }}
<div style="display: flex; flex-direction: column;" id="contacts">
    {{ range .Contacts }}
        {{ template "contact" . }}
    {{ end }}
</div>
{{ end }}

{{ block "contact" .}}
    <div style="display: flex;" id="contact-{{ .Id }}">
        <div hx-delete="/contacts/{{ .Id }}" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash">
                <polyline points="3 6 5 6 21 6"></polyline>
                <path d="M19 6l-2 14H7L5 6h14z"></path>
                <path d="M10 11v6"></path>
                <path d="M14 11v6"></path>
                <path d="M9 3h6v3H9V3z"></path>
            </svg>
        </div>

        Name: <span>{{ .Name }}</span>
        Email: <span>{{ .Email }}</span>
    </div>
{{ end }}

{{ block "oob-contact" .}}
    <div id="contacts" hx-swap-oob="afterbegin">
        {{ template "contact" . }}
    </div>
{{ end }}
